extends layout

block content
  h1= title
  
  div.my-5
    h3 現在公開中の作品一覧
        table.table
          tr
            th コラム名
            th 作者名
            th 更新日時
          each column in columns
            tr
              td
                a(href=`/posts/${column.columnId}`) #{column.columnName}
              td #{column.columnAuthor}
              td #{column.formattedUpdatedAt}
      

          