extends layout

block content
  div.card.my-3
    div.card-header
      h4 タイトル：#{columnName}
    
  //p(style="white-space:pre;") #{column.memo}
  
  div.card-body
    h4.my-2 本文: 
      p(style="white-space:pre;") #{memo}
  div.card-body
      p 作成者: #{columnAuthor} 
  
  - var isMine = parseInt(user.id) === parseInt(createdBy)
  if isMine
    a(href=`/posts/${columnId}/edit`).btn.btn-info.my-3 コラムの編集


  