extends layout

block content
  div.jumbotron.my-2
    h1.display-4 コラムくん
    p.lead コラムくんはtwitterで認証でき、コラムを投稿されるサービスです
  
    - var admin =process.env.ADMIN_ID;
  if user  && user.username==admin
    div.my-3
      p.lead.my-2 管理者IDでログイン中
      a(href="/logout") #{user.username} をログアウト
      
      div.my-3
        a(href="/editor") 管理者ページにログイン
      div.my-3
        a(href="/posts/new").btn.btn-info.my-3 コラムを作る
      - var hasColumn = columns.length > 0
      if hasColumn
      div
        h4.my-3 あなたの作ったコラム一覧
        table.table
          tr
            th コラム名
            th 更新日時
          each column in columns 
            tr
              td
                a(href=`/posts/columnId/${column.columnId}`) #{column.columnName}
              td #{column.formattedUpdatedAt}
      
      
    
      div.my-3.lead
        h3 公開中のコラムはコチラ！
         a(href="/editor/admitted").btn.btn-info.my-3 公開中のコラム一覧  
          

          



  else if user
      div.my-3
        a(href="/logout") #{user.username} をログアウト
      div.my-3
        a(href="/posts/new") コラムを作る

      - var hasColumn = columns.length > 0
      if hasColumn
        h4.my-3 あなたの作ったコラム一覧
        table.table
          tr
            th コラム名
            th 更新日時
          each column in columns
            tr
              td
                a(href=`/posts/columnId/${column.columnId}`) #{column.columnName}
              td #{column.formattedUpdatedAt}
      div.my-3
         a(href="/editor/admitted") 公開中のコラム一覧  
   
  else 
      a(href="/login").btn.btn-info.my-3  ログイン

      div.my-3.display-5
         a(href="/editor/admitted") 公開中のコラム一覧
      
      - var admitted = adminCheck === 1
      if admitted
        h4.my-3 公開中のコラム一覧
        table
          tr 
            th コラム名
            th 更新日時
          each column in columns
            tr
              td
                a(href=`/posts/columnId/${column.columnId}`) #{column.columnName}
              td #{column.formattedUpdatedAt}